/* Reset default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header section for contact information */
.contact-header {
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(4, 9, 30, 0.7)), url(/images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    animation: color-change 4s infinite;
}

@keyframes color-change {
    0% { color: #fff; }
    50% { color: #93bbef; }
    100% { color: #fff; }
}

.contact-header h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
}

.contact-header p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 15px;
    text-align: center;
}

/* Container for content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Main content style */
.main-content {
    text-align: justify;
    font-size: 18px;
    margin: 30px;
    margin-top: 10px;
    margin-right: 40px;
    padding: 20px;
    border-radius: 10px;
}

/* Student card style */
/* .student-card {
    background-color: #3498d6;
    border-radius: 8px;
    box-shadow: 0 4px 8px #007BFF;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.2s ease-in-out;
} */

.student-card:hover {
    background-color: #0e5fb0;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Definition list style */
dl {
    margin: 0;
    padding: 0;
}



/* Description term style */
pre {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
    display: inline-block;
    width: 30%;
}

/* Description details style */
dd {
    color: #ffffff;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    width: 65%;
}

/* Button style */
.btn {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    /* margin-left: 630px; */
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}


.student-card {
    position: relative;
    background-color: #3498d6;
    border-radius: 8px;
    box-shadow: 0 4px 8px #007BFF;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.2s ease-in-out;
}

.student-card img {
    position: absolute;
    top: 10px; /* Adjust the top value to control the distance from the top */
    right: 10px; /* Adjust the right value to control the distance from the right */
    width: 20%; /* Set the image width to 20% of the student-card */
    height: auto;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.student-card img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


