/* Footer */
footer {
    background-color: #1877f2;
    color: white;
}

footer:hover{
    background-color: #0e5fb0;
}

p{
    text-align: center;
}

.social-icons {
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;

}


.social-icons a {
    margin-right: 10px; 
    color: #ffffff; 
    text-decoration: none; 
    font-size: 24px; 
}


.fb:hover {
    color: #589bf3; 
}
.insta:hover{
    color: rgb(238, 42, 49);
}

.twitter:hover{
    color: rgb(76, 167, 236);
}

.git:hover{
    color: #a09b9b;
}

.yt:hover{
    color: red;
}


.stack:hover{
    color: orange;
}






