body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Header section for contact information */
.contact-header {
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(4, 9, 30, 0.7)), url(../background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    animation: color-change 4s infinite;
    position: sticky;
    top: 0;
    bottom: 0;
}

@keyframes color-change {
    0% { color: #fff; }
    50% { color: #93bbef; }
    100% { color: #fff; }
}

.contact-header h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
}

.contact-header p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 15px;
    text-align: center;
}

.main-content-p{
    text-align: center; 
    color: #000000;
    font-size: 18px;
    margin: 30px;
    margin-top: 10px;
    margin-right: 40px;
    text-align: justify;
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
}

.page-content {
    max-width: 600px;
    margin: 0 auto;
    background-color: #3498d6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 60px;
    transition: transform 0.2s ease-in-out;

}

.page-content:hover{
    background-color: #0e5fb0;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

pre {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
    display: inline-block;
    width: 30%;
}

dd {
    color: #ffffff;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    width: 65%;
}


.delete-button,
.update-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff3333;
    color: #fff;
    text-decoration: none;
    border: 2px solid #ffffff; /* Add white border */
    border-radius: 5px;
    margin: 5px;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.update-button {
    margin-left: 350px; /* Adjust the margin to your preference */
    background-color: #1f971f;
}

.update-button:hover{
    background-color: #fff;
    color: #1f971f;
    border: 2px solid #1f971f;

}
.delete-button:hover {
    color: #e55a5a;
    background-color: #fff;
    border: 2px solid #e55a5a;
}


