<!-- Include the navigation bar component from "navbar.ejs" -->
<%- include("navbar.ejs")%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student Details</title>

    <!-- Include CSS stylesheets for styling -->
    <link rel="stylesheet" href="/style/addStudentsDetails.css">
    <link rel="stylesheet" href="/style/navbar.css">
</head>
<body>
	<section class="contact-header">

		<h1>Add Student Details </h1>
		<p>Computer Engineering</p>		
	</section>
    <p class="main-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, ab harum! Quod repudiandae nemo mollitia aperiam sit quae, quos quibusdam fugiat iusto dignissimos perferendis nulla, numquam vel ipsa. Iusto, non!
    Animi molestiae nobis at amet magnam temporibus natus ad et deleniti ullam fugiat iusto commodi esse quae, blanditiis, fugit explicabo assumenda quasi beatae! Saepe expedita ab blanditiis maiores magni et!
    Voluptatum laboriosam rem in ullam voluptate qui sapiente laborum sint, ab ipsam provident maiores laudantium accusamus doloremque recusandae enim ipsum veritatis voluptatem voluptas quod earum. Sint voluptatibus aliquid ex vitae?
    Porro iure autem quasi libero doloribus, obcaecati, deleniti illum minima doloremque quia officia quod nihil iusto voluptate. Autem error illum iure dignissimos, nihil asperiores earum eos! Illum veniam a non.
    Eligendi eveniet saepe et facere maiores commodi, quae ratione, numquam molestias aspernatur, cumque nemo consectetur? Eius omnis sunt inventore consectetur quidem nihil voluptatibus, voluptate aliquid laudantium. Consectetur nesciunt ducimus iusto?
    Culpa, mollitia. Eos provident reiciendis qui possimus beatae? Neque rerum reprehenderit repellat excepturi incidunt. Maiores tenetur debitis eaque eveniet ducimus inventore eligendi. Doloremque, quo? Eaque amet atque deleniti quo cum.
    Quibusdam veritatis similique iusto! Eaque est nesciunt eveniet placeat maiores facilis, fugiat hic non ipsum veniam ad temporibus, aperiam adipisci, blanditiis unde modi magni. Eligendi ducimus rem amet assumenda. Sit!
    Voluptatem error reprehenderit exercitationem eius quis! Vel est recusandae necessitatibus, similique iure facere, culpa atque asperiores quibusdam illo incidunt repudiandae eos veritatis temporibus animi nam facilis. Sed quibusdam dolorum dolor?
    Ea quo nesciunt adipisci, praesentium, cumque sequi veniam quaerat a enim, debitis voluptatem laboriosam tempora ducimus! Quia animi laboriosam in assumenda? Architecto reprehenderit repellendus obcaecati quisquam, sunt et aperiam exercitationem.
    Rerum expedita iste cum ut quisquam quo at a impedit! Totam sit dolores error, non cupiditate aliquid placeat distinctio ut facilis quia, veritatis animi repellendus voluptas saepe blanditiis sint excepturi!
    </p>
    <div class="container">
    <fieldset>
        <legend>Add Student Details</legend>
        <!-- Create a form for adding student details with a POST request to "/addStudent" endpoint -->
        <form action="/addStudent" method="post">
            <div class="row">
                <div class="row-item">
                    <div class="input-container">
                        <input type="text" id="fullname" name="fullname" class="input-field" required>
                        <label for="fullname" class="input-label">Full name</label>
                    </div>
                </div>

                <div class="row-item">
                    <div class="input-container">
                        <input type="text" id="address" name="address" class="input-field" required>
                        <label for="address" class="input-label">Address</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row-item">
                    <div class="input-container">
                        <input type="number" id="grade" name="grade" class="input-field" required>
                        <label for="grade" class="input-label">Grade</label>
                    </div>
                </div>

                <div class="row-item">
                    <div class="input-container">
                        <input type="number" id="rollno" name="rollno" class="input-field" required>
                        <label for="rollno" class="input-label">Roll number</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row-item">
                    <div class="input-container">
                        <input type="number" id="age" name="age" class="input-field" required>
                        <label for="age" class="input-label">Age</label>
                    </div>
                </div>

                <div class="row-item">
                    <div class="input-container">
                        <input type="number" id="contactno" name="contactno" class="input-field" required>
                        <label for="contactno" class="input-label">Contact number</label>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="row-item">
                    <button class="add-button">Submit</button>
                </div>
            </div>
        </form>
    </fieldset>
    </div>
    <%- include("footer.ejs")%>
</body>
</html>
