<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <!-- Include CSS stylesheets for styling -->
        <link rel="stylesheet" href="/style/login.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    </head>
<body>
    <div class="container">
        <h2>Set new password</h2>
            <!-- Create a form for user login with a POST request to "/createLogin" endpoint -->
            <form action="/changePassword" method="post">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="text" id="password" name="password" placeholder="Enter your vaid email" required>
                </div>

                <div class="form-group-password">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="confirmPassword" id="confirmPassword" name="confirmPassword" placeholder="Enter your password" required>
                    <i class="fas fa-eye" id="togglePassword"></i>
                </div>
                <!-- Create a "Log In" button to submit the form -->
                <button type="submit">Change Password</button>
            
    </div>


    
    
</body>
</html>

