<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Set New Password</title>
        <!-- Include CSS stylesheets for styling -->
        <link rel="stylesheet" href="/style/changePassword.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    </head>
    <body>
        <div class="container">
            <h2>Set new password</h2>
            
            <form action="/changePassword/<%-email %>/ <%-otp%>" method="post">
                <div class="form-group-password">
                    <label for="password">New Password</label>
                    <input type="password" id="password" name="newPassword" placeholder="Enter New Password" required>
                    <i class="fas fa-eye" id="toggleNewPassword"></i>
                </div>

                <div class="form-group-password">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmNewPassword" placeholder="Enter Confirm password" required>
                    <i class="fas fa-eye" id="toggleConfirmPassword"></i>
                </div>
                <p class="error"><%- error %></p>

                <!-- Create a "Log In" button to submit the form -->
                <button type="submit">Change Password</button>
            
    </div>


    <script>
        const passwordInput = document.getElementById('password');
        const togglePassword = document.getElementById('toggleNewPassword');
    
        togglePassword.addEventListener('click', function () {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                togglePassword.classList.remove('fa-eye');
                togglePassword.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                togglePassword.classList.remove('fa-eye-slash');
                togglePassword.classList.add('fa-eye');
            }
        });

        const confirmPasswordInput = document.getElementById('confirmPassword');
        const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');

        toggleConfirmPassword.addEventListener('click', function () {
            if (confirmPasswordInput.type === 'password') {
                confirmPasswordInput.type = 'text';
                toggleConfirmPassword.classList.remove('fa-eye');
                toggleConfirmPassword.classList.add('fa-eye-slash');
            } else {
                confirmPasswordInput.type = 'password';
                toggleConfirmPassword.classList.remove('fa-eye-slash');
                toggleConfirmPassword.classList.add('fa-eye');
            }
    });
    </script>

<script>
    const successMessage = document.querySelector('.error');
    
    // Check if the element with the "success" class exists
    if (successMessage) {
        // Hide the element after 2 seconds
        setTimeout(() => {
            successMessage.classList.add('hidden');
        }, 5000);
    }
     
  </script>
</body>
</html>

