<!-- Include the navigation bar from "navbar.ejs" -->
<%- include("navbar.ejs")%> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!-- Include Font Awesome icons library for using icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style/contactUs.css">
    <link rel="stylesheet" href="style/navbar.css">
    <link rel="stylesheet" href=".././public/style/footer.css";
</head>
<body>
	<section class="contact-header">
		<h1>Contact us </h1>
		<p>Computer Engineering</p>		
	</section>

    <section class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113057.77494127394!2d85.19282119726562!3d27.684680500000027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb198d6e6634c5%3A0xe41ca7b5c8842b97!2sCollege%20of%20IT%20%26%20Engineering!5e0!3m2!1sen!2snp!4v1696702101675!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <section class="contact-us">
        <div class="row">
            <div class="contact-col">
                <div>
                    <i class="fa-solid fa-house-user"></i>
                   <span>
                       <h5>Nepal, Bagmati Province, Sindhuli district </h5>
                       <p>799Q+XXX, Mulkharka 56100</p>
                       <p>799Q+XXX, मूलखर्क 56100</p>
                   </span> 
                </div>

                <div>
                    <i class="fa-solid fa-phone-volume"></i>
                    <span>
                        <h5>+977 9890987656</h5>
                        <p>Monday to Saturday, 10AM to 6PM</p>
                    </span> 
                 </div>
                 
                <div>
                    <!-- <i class="fa-solid fa-envelope-circle-check"></i> -->
                    <i class="fa-solid fa-envelope"></i>

                    <span>
                        <h5>computerengineering.edu.np</h5>
                        <p>Email us your query</p>
                    </span> 
                 </div>
                 
            </div>
            <div class="query-form">
                <form action="" method="post">
                    <input type="text" name="name" placeholder="Enter Your name" required>
                    <input type="email" name="email" placeholder="Enter email address" required>
                    <input type="text" name="subject" placeholder="Enter Your subject" required>
                    <textarea rows="8" name="message" placeholder="Message" required></textarea>
                    <button type="submit" class="btn btn-success"> Send Message</button>
                </form>
            </div>
        </div>
    </section>
<%- include("footer.ejs")%>

</body>
</html>