<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot password</title>
        <!-- Include CSS stylesheets for styling -->
        <link rel="stylesheet" href="/style/forgotPassword.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    </head>
<body>
    <div class="container">
        <h3>Forgot Password</h3>
        
        <form action="/forgotPassword" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your register email" required>
            </div>
            <p class="error"><%- error %></p>
                <button type="submit">Send OTP to Email</button>
            </form>
            
    </div>


    <script>
        const successMessage = document.querySelector('.error');
        
        // Check if the element with the "success" class exists
        if (successMessage) {
            // Hide the element after 5 seconds
            setTimeout(() => {
                successMessage.classList.add('hidden');
            }, 3000);
        }
      </script>
    
</body>
</html>

